/* 모든 컨트롤에 적용될 기본 폰트 */
/* 기본 텍스트 색상 */
/* disable 상태를 나타내는 텍스트 색상 */
/* 기본 보더 색상 */
/* 포커스 보더 색상 */
/* Disable 상태의 보더 색상. */
/* 내부에 아이템을 갖는 컨트롤의 경우, 각 아이템에 마우스 호버시의 텍스트 색상 */
/* 내부에 아이템을 갖는 컨트롤의 경우, 각 아이템에 마우스 호버시의 배경 색상 */
/* 내부에 아이템을 갖는 컨트롤의 경우, 각 아이템에 선택된 경우 텍스트 색상 */
/* 내부에 아이템을 갖는 컨트롤의 경우, 각 아이템이 선택된 경우 배경 색상 */
/* 내부에 아이템을 갖는 컨트롤이 Disabled된 경우, 각 아이템에 선택된 경우 텍스트 색상 */
/* 내부에 아이템을 갖는 컨트롤의 Disabled된 경우, 각 아이템이 선택된 경우 배경 색상 */
.cl-container.body {
  background-image: linear-gradient(#1E89DB 150px, #F2F2F2 150px);
}
.cl-navigationbar {
  background-color: transparent;
  border: none;
  color: white;
}
.cl-navigationbar .cl-navigationbar-bar .cl-navigationbar-item .cl-navigationbar-arrow {
  background-image: none;
  width: 0px;
}
.cl-navigationbar .cl-navigationbar-bar .cl-navigationbar-item.cl-hover {
  background-color: transparent;
  color: white;
}
.cl-navigationbar .cl-navigationbar-bar .cl-navigationbar-item.cl-selected {
  position: relative;
}
.cl-navigationbar .cl-navigationbar-bar .cl-navigationbar-item.cl-selected:after {
  content: "";
  position: absolute;
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #102B5A;
  bottom: 0;
  left: 50%;
}
/*
 * UDC
 */
.cl-container.menu-wrap {
  background-color: white;
  border: 1px solid #102B5A;
}
.cl-container.menu-header {
  background-color: #102B5A;
}
.cl-radiobutton.menu {
  color: white;
  padding: 0px 20px;
}
.cl-radiobutton.menu .cl-radiobutton-item .cl-icon-wrapper .cl-radiobutton-icon {
  background-image: none;
  width: 0px;
  margin-left: 0px;
}
.cl-radiobutton.menu .cl-radiobutton-item .cl-text {
  padding-left: 0px;
}
.cl-radiobutton.menu .cl-radiobutton-item.cl-selected {
  color: #1E89DB;
  font-weight: bold;
}
.cl-radiobutton.menu .cl-radiobutton-item.cl-selected .cl-text {
  text-decoration: underline;
}
.cl-output.menu-title {
  padding: 5px 0px 8px 0px;
  text-align: center;
  border-bottom: 2px solid #DBE3EE;
  font-weight: bold;
  margin-bottom: 15px;
}
.cl-output.menu-title.left {
  text-align: left;
}
.cl-container.recommand-menu-wrap {
  background-color: #F7FCFF;
  border-left: 1px solid #E7E8E8;
}
.cl-listbox.sub-menu {
  background-color: transparent;
  border: none;
}
.cl-listbox.sub-menu .cl-listbox-list .cl-listbox-item {
  padding: 3px 5px;
  font-size: 14px;
}
.cl-listbox.sub-menu .cl-listbox-list .cl-listbox-item.cl-selected {
  color: #333;
  background-color: transparent;
}
.cl-listbox.sub-menu:focus,
.cl-listbox.sub-menu.cl-focus {
  border: none;
}
.cl-listbox.sub-menu:not(.cl-disabled) .cl-listbox-item:not(.cl-disabled):not(.cl-selected) {
  /* 포커스된 아이템 */
  /* 호버된 아이템 */
}
.cl-listbox.sub-menu:not(.cl-disabled) .cl-listbox-item:not(.cl-disabled):not(.cl-selected):focus {
  color: #333;
  background-color: transparent;
}
.cl-listbox.sub-menu:not(.cl-disabled) .cl-listbox-item:not(.cl-disabled):not(.cl-selected):hover {
  color: #333;
  background-color: transparent;
}
.cl-output.sm-pageidx {
  background-color: #e8e8e8;
  cursor: pointer;
}
.cl-output.sm-pageidx.on {
  background-color: #3D7BBA;
}
.cl-container .cl-layout-content.sub-menu-wrap .cl-layout-wrap.sub-menu-wrap:not(:last-child) > .cl-container.sub-menu-wrap {
  border-right: 1px solid #ECEFF5;
}
